<!DOCTYPE html>
<html>
  
  body{
  text-align: center;
  background-color: gray;
  }
  h1 {
  font-size: 50px;
  }
  h2 {
  font-size: 40px;
  }
  h5 {
  font-size: 15px;
  } 

  .winter {
  color: rgb(280,230,255);
  } 

  .spring {
  color: rgb(1299,230,255);
  }